@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "What a Creative Title";
}

<!--header-->
<header class="masthead">
    <div>
        <h2 class="text-muted">Preferred Name: Kirsten</h2>
        <h1>What a Creative Title</h1>
        <!--picture of me hiking-->
        <div><img src="img/hiking.png" class="border, rounded"></div><br />
    </div>
</header>



<!--paragraph about class goals-->
<div>
    <br /><br /><br /><br />
    <h3>What I Hope to Get Out of IS 413:</h3><br />
    <p>
        I want to become comfortable coding in ASP.NET, which I see as another hard skill on my resume to show I don't just know how to code in one
        language, but also how to apply the principles of coding to multiple languages. I also want to become more comfortable understanding the
        MVC model, how to more efficently build websites, and how servers work.
    </p>
</div>

<!--top jobs I want-->
<div>
    <h3>Top 3 Jobs I am Interested In:</h3><br />
    <ol>
        <li>Product Manager</li>
        <li>Business Analyst</li>
        <li>Database Manager</li>
    </ol>
</div>

